apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

images:
  - name: deutsche-gesetze-mcp-crawl
    newName: ghcr.io/troeger/deutsche-rechtsprechung-mcp/deutsche-gesetze-mcp-crawl
    newTag: "latest"
